<section class="colophon">
  <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder"><a href="http://www.ellixo.com">Ellixo</a></span>. <span rel="license">All Rights Reserved</span> - Published with <a class="icon-ghost" href="http://hubpress.io">HubPress</section>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="http://www.ellixo.com">Accueil Ellixo</a>.
  </section>
</section>
