<section class="colophon">
  <section class="copyright">Copyright &copy; <a href="http://www.ellixo.com">Ellixo</a> All Rights Reserved - Published with <a class="icon-ghost" href="http://hubpress.io">HubPress</a></section>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="http://www.ellixo.com">Accueil Ellixo</a> - <a href="http://www.ellixo.com/mentions-blog.html">Mentions Légales</a>
  </section>
</section>
